.show {
    display: block;
}

body{
  font-family:"Nunito", Serif;
  background-color:#f4f4f4;
  overflow-x:hidden;
}

.navbar{
  background-color:#3b5998;
  overflow:hidden;
  height:63px;
}

.navbar a{
  float:left;
  display:block;
  color:#f2f2f2;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size:17px;
}

.navbar ul{
  margin:8px 0 0 0;
  list-style:none;
}

.navbar a:hover{
  background-color:#ddd;
  color:#000;
}

.side-nav{
  height:95%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#3b5998;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color:#fff;
}

.side-nav .btn-close{
  position:absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

#main{
  transition:margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width:100%;
}

#searchbox{
	float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
	
}
.product-filter {
  display: flex;
}
.product-filter h1 {
  flex-grow: 1;
}
.sort {
  display: flex;
   margin: 10px -16px;
}

.sort,
.sort > .card {
    padding: 12px;
}

.collection-sort {
  display: flex;
  flex-direction: column;
}
.product{
  display: flex;
  flex-wrap: wrap;
}
.column{
  display: none;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 360px;
  margin: 25px;
  text-align: center;
  font-family:'Nunito';
  flex-grow: 1;
  padding: 2%;
  flex-basis: 16%;
  display: all;

}
#bed, #chair, #cupboard, #duvet, #mattress, #pillow, #jelly, #pencil{
  margin: auto;
  align-self: center;
  width: 100%;
  margin-left: 35%;
  margin-right: 50%;
}
.isa_info, .isa_success, .isa_warning, .isa_error {
margin: 10px 0px;
padding:12px;
transition:0.5s;
}
.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
	border-radius:.5em;
}
.isa_success {
    color: #4F8A10;
    background-color: #DFF2BF;
	border-radius:.5em;
}
.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
	border-radius:.5em;
}
.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;	
	border-radius:.5em;
}
.isa_info i, .isa_success i, .isa_warning i, .isa_error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}
.att-profile{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 360px;
  margin: auto;
  text-align: center;
  font-family: 'Nunito';
  padding: 2%;
  flex-grow: 1;
flex-basis: 16%
}

.all-att-profile{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 340px;
  margin: auto;
  text-align: center;
  font-family: 'Nunito';
  padding: 2%;
flex-basis: 16%
}
.prod-profile{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 340px;
  margin: 35px;
  text-align: center;
  font-family: 'Nunito';
  padding: 15%;
flex-basis: 25%
}

.prod-profile button{
	border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #3b5998;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.att-profile button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #3b5998;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
}
  display: flex;
}
.price {
  color: grey;
  font-size: 22px;
  margin-top: auto;
}
.row,
.row > .prod-profile{
    padding: 8px;
}
.prod-profile {
    float: left;
    width: 33.33%;
    display: all;
}
* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #3b5998;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;

}


.card button:hover {
  opacity: 0.7;
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #3b5998;
  color: white;
}
.btn-edit {
    background-color: #3B5998;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-add {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-delete {
    background-color: #99593C ;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.row{
  overflow: hidden;
}
.btnclass {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #3b5998;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-family: 'Nunito', serif;

}
.collection-sort input[type=search] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.product-filter input[type=search] {
	float: right;
    padding: 8px;
    border: none;
    margin-top: 30px;
    margin-right: 250px;
    font-size: 17px;
	width: 300px;
	height: 40px;
	
}

@media(min-width:568px){
  /*.open-slide{display:none}*/
}
@media (max-width: 920px) {
  .card {
    flex: 1 25%;
  }
}
@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}
@media (max-width: 480px) {
  .product-filter {
    flex-direction: column;
  }
  .sort {
    align-self: flex-start;
  }
}
@media screen and (max-width: 500px) {
    .navbar-nav a {
        float: none;
        display: flex;
    }

    .navbar-nav {
        float: none;
        display: flex;
    }
}